.idea/

.webClient/webClient/node_modules
.webClient/.pnp
.webClient/.pnp.js

# testing
.webClient/coverage

# production
.webClient/build

# misc
.webClient/.DS_Store
.webClient/.env.local
.webClient/.env.development.local
.webClient/.env.test.local
.webClient/.env.production.local

.webClient/npm-debug.log*
.webClient/yarn-debug.log*
.webClient/yarn-error.log*